@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,400;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
}

.texto {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
}

#menu li > a {
  font-size: 18px;
  font-weight: bold;
  color: cornflowerblue;
}
#menu form > button {
  font-size: 18px;
  font-weight: bold;
}
.carousel-inner {
  max-height: 39rem;
}

/*_________________________Media queries pantalla md_______________________*/

@media (max-whidth: 768px) {
  #intro {
    width: 90% !important;
  }
  .servicio-fila {
    width: 100% !important;
    text-align: center;
  }
}

/*_________________________Media queries pantalla xs_______________________*/
@media (max-whidth: 576px) {
  .icono-wrap {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}

.whatsapp {
  bottom: 0;
  right: 0;
  padding: 1rem;
  margin-left: 1rem;
  position: fixed;
  margin: 2rem;
}

ul {
  width: 800px;
  padding: 15px;
  margin: 0;
  display: flex;
  list-style-type: none;
  background-color: rgb(224, 245, 253);
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

li a {
  color: black;
}

.navBar {
  color: black;
  display: flex;
  justify-content: space-around;
  background-color: rgb(224, 245, 253);
}

form button {
  align-items: center;
}

/* Video */
.video-container video {
  width: 100%;

  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  padding: 10px;
}

/* Importación de fuentes de google fonts */

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

/*Formulario de contacto en html y css*/

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.formulario-contacto {
  width: 100%;
  height: auto;
  margin: 80px auto;
  background-image: url(../images/Fondo-formulario.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  opacity: 0.9;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(23, 91, 180);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(23, 136, 180);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #161231;
  text-transform: uppercase;
  background-color: 161231;
  border-color: 161231;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

span {
  color: rgb(23, 136, 180);
}

::-webkit-input-placeholder {
  color: rgb(76, 129, 138);
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #b0e281;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #b0e281;
}
.obligatorio {
  color: rgb(0, 0, 0);
}

/*-----general body---*/
.body {
  padding: 0;
  margin: 0;
  background: radial-gradient(circle at top left, #180c69, #180c69);
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 4rem;
}
.title {
  color: #161231;
  font: size 5rem;
  font-familiy: "Open Sans", "Helvetica Neue", sans-serif;
}
.texto {
  font-family: Verdana;
  color: whitesmoke;
}
.img.izquierda-quienes-somos {
  float: left;
}
