/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,400;1,600&display=swap");
/* Primary colors */
/* Standard variables */
/* Mixin variables */
body {
  background-color: #180c69;
  color: black;
  font-size: 18px; }

.container {
  height: 100vh;
  width: 100%;
  padding: 10%; }

.backround-contacto {
  background-image: url("../images/Fondo-formulario.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%; }

.blue {
  background-color: #180c69; }

.buttonprint {
  background-color: #180c69;
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-family: "Libre Franklin", sans-serif;
  cursor: pointer; }
  .buttonprint:hover {
    background-color: #1788b4; }

.video {
  width: 100%;
  object-fit: cover;
  z-index: 0; }

.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 10px; }
