/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,400;1,600&display=swap");
$main_font: "Libre Franklin", sans-serif;
$fontsize: 18px;
/* Primary colors */
$primary_1: #180c69;
$primary_2: rgb(23, 136, 180);
/* Standard variables */
$bgcolor: $primary_1;
$textcolor: black;
/* Mixin variables */
@mixin container {
  height: 100vh;
  width: 100%;
  padding: 10%;
}
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}
.container {
  @include container;
}
.blue {
  background-color: $bgcolor;
}
